body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

.sec-width-cl {
    display: flex;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI94ynYP-tPU1_5dNLuOQmq4NxuTjAfSFb7w&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;



}

.div-w {
    width: 80%;
    height: 100px;
}

.align {
    padding-top: 15%;
    padding-left: 10%;
    padding-bottom: 20%;
    color: white;
    margin-bottom: 5%;
}

.ancor {
    text-decoration: none;
    padding: 2%;
    background-color: crimson;
    border-radius: 12%;
    color: white;
}

.flx {
    display: flex;
}

.half-width1 {
    width: 80%;
    margin-left: 2%;
    padding-left: 5%;
    padding-bottom: 5%;


}

.half-width2 {
    width: 80%;
    margin-right: 2%;
    padding-left: 5%;
    padding-bottom: 5%;
    border-radius: 5%;


}

.color-tomato {
    color: tomato;
}

.color-gray {
    color: gray;
}